page-transaksi {
    ion-card {
        position: relative;
        text-align: center;
      }

      ion-img{
          filter: blur(2.5px);
      }
    
      .card-title {
        font-family: sans-consider;
        position: absolute;
        top: 30%;
        font-size: 55px;
        width: 100%;
        font-weight: bold;
        color: rgb(255, 255, 255);
        // -webkit-text-stroke: 1px black;
    
        }
}
