page-akun {
    .header-parent{
        position: relative;
        text-align: center;
    }
    .foto-profil{
        background: url("../../assets/imgs/profile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
        overflow:hidden;
        -webkit-border-radius:50px;
        -moz-border-radius:50px;
        border-radius:50px;
        width:90px;
        height:90px;

        margin: 0 auto;
        margin-top:-140px;
        position: relative;
    }

    .content-profil{
        margin-top:46px;
        width: 100%;
        background-color: #e6e6e6;
    }

    .profile-image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}
